In [2]:
print("My first commint")

My first commint

In [3]:
print("I'm learning Git and GitHub")

I'm learning Git and GitHub

In [7]:
import pandas as pd

# Criando um dicionário com listas
dados = {
    "ID": list(range(1, 12)),  # 11 registros
    "Nome": [
        "Ana", "Bruno", "Carlos", "Diana", "Eduardo",
        "Fernanda", "Gabriel", "Helena", "Igor", "Joana", "Kleber"
    ],
    "Idade": [23, 31, 19, 27, 35, 29, 21, 33, 26, 24, 30],
    "Cidade": [
        "Luanda", "Lobito", "Benguela", "Huambo", "Lubango",
        "Luanda", "Sumbe", "Malanje", "Namibe", "Luena", "Cabinda"
    ],
    "Pontuação": [78, 85, 90, 65, 92, 88, 70, 80, 75, 83, 95]
}

# Criando o DataFrame
df = pd.DataFrame(dados)

# Exibindo o DataFrame
df

    ID      Nome  Idade    Cidade  Pontuação
0    1       Ana     23    Luanda         78
1    2     Bruno     31    Lobito         85
2    3    Carlos     19  Benguela         90
3    4     Diana     27    Huambo         65
4    5   Eduardo     35   Lubango         92
5    6  Fernanda     29    Luanda         88
6    7   Gabriel     21     Sumbe         70
7    8    Helena     33   Malanje         80
8    9      Igor     26    Namibe         75
9   10     Joana     24     Luena         83
10  11    Kleber     30   Cabinda         95